Repository keindev/ghinfo, changes with the labels that .github/labeler.yml gives for each.
All labels: test, workflow, config, project, source, api, docs, media

build(deps): bump dependencies
  package-lock.json
  package.json
Labels: project

build(config): update configs
  .config/typedoc.json
  .github/workflows/release.yml
  .github/workflows/scan.yml
  .gitignore
  .npmignore
  codecov.yml
Labels: workflow

docs: update docs, remove typedoc, add security and code of conduct
  CODE_OF_CONDUCT.md
  SECURITY.md
  docs/api/classes/builder.md
  docs/api/index.md
Labels: docs

refactor: fix eslint errors
  src/Builder.ts
  src/types.ts
Labels: source

build(deps): add package-json-helper
  package-lock.json
  package.json
Labels: project

build(pkg): update engines !important
  package-lock.json
  package.json
Labels: project

workflow: fix shared configs, refresh github workflows
  .config/.sharedconfig.yml
  .config/.vscode/cspell.json
  .github/scripts/config.js
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: workflow

build: refresh .gitignore & .npmignore
  .gitignore
  .npmignore
Labels: workflow

docs: update README, extract media files
  README.md
  media/banner.svg
  media/logo.svg
  media/social-preview.png
Labels: docs, media

build: bump deps, bump engines !break
  package-lock.json
  package.json
Labels: project

refactor: fix tests, replace globby to glob
  src/Builder.ts
  src/__tests__/Builder.test.ts
  src/__tests__/__snapshots__/Builder.test.ts.snap
  src/cli/commands/generate.ts
  src/index.ts
  src/types.ts
Labels: test, source, api

build: bump to v3.0.0
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project, docs

build: bump dependencies
  package-lock.json
  package.json
Labels: project

build: bump to v3.0.1
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project, docs

build: bump dependencies
  package-lock.json
  package.json
Labels: project

build: bump to v3.0.2
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project, docs

build: bump deps, refresh configs
  .npmignore
  LICENSE
  package-lock.json
  package.json
Labels: workflow, project, docs

build: bump to v3.0.3
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project, docs

build: bump deps, refresh configs
  .github/workflows/auto-merge.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Labels: workflow, project

build: bump to v3.0.4
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project, docs

build: bump deps, refresh configs
  .github/workflows/auto-merge.yml
  .npmignore
  package-lock.json
  package.json
Labels: workflow, project

build: bump to v3.0.5
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project, docs

build: bump deps, refresh configs
  .github/workflows/auto-merge.yml
  .gitignore
  package-lock.json
  package.json
Labels: workflow, project

fix: fix ESM imports/exports
  src/Builder.ts
  src/__tests__/Builder.test.ts
  src/cli/bin.ts
  src/cli/commands/generate.ts
  src/index.ts
Labels: test, source, api

build: bump to v3.0.6
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project, docs

build: rebuild configs, fix tests
  .config/.sharedconfig.yml
  .config/.vscode/launch.json
  .github/codeql/config.yml
  .github/scripts/config.js
  .github/workflows/auto-merge.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/scan.yml
  .github/workflows/sync.yml
  .gitignore
  .npmignore
  package-lock.json
  package.json
  src/__tests__/__snapshots__/Builder.test.ts.snap
Labels: workflow, project, source

fix: fix module imports
  bin/ghinfo.js
Labels: api

fix: fix yargs arguments
  src/cli/commands/generate.ts
Labels: source, api

build: bump to v3.0.7
  .ghinfo
  CHANGELOG.md
  package-lock.json
  package.json
Labels: project, docs

build: bump dependencies
  package-lock.json
  package.json
Labels: project

docs: remove media
  README.md
  media/banner.svg
  media/logo.svg
Labels: docs, media

build: bump to v3.0.8
  .ghinfo
  CHANGELOG.md
  package-lock.json
  package.json
Labels: project, docs

build: bump dependencies
  .github/workflows/auto-merge.yml
  package-lock.json
  package.json
Labels: workflow, project

refactor: fix errors after deps update
  src/Builder.ts
  src/__tests__/Builder.test.ts
  src/cli/bin.ts
  src/cli/commands/generate.ts
Labels: test, source, api

build: bump to v3.0.9
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project, docs

refactor: remove .js ext in imports
  src/Builder.ts
  src/__tests__/Builder.test.ts
  src/cli/bin.ts
  src/cli/commands/generate.ts
  src/index.ts
Labels: test, source, api

build: bump dependencies
  package-lock.json
Labels: project

build: bump dependencies
  package-lock.json
  package.json
Labels: project

refactor: refactor ts files
  src/Builder.ts
  src/__tests__/Builder.test.ts
  src/cli/bin.ts
  src/cli/commands/generate.ts
  src/index.ts
Labels: test, source, api

build: bump to v3.0.11
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project, docs

.github/labeler.yml:

test:
  - src/__mocks__/**/*.test.ts
  - src/__tests__/**/*.test.ts
  - ./.eslintrc
  - ./jest.config.js
  - ./.huskyrc

workflow:
  - .github/**/*
  - .vscode/**/*
  - ./.gitignore
  - ./.npmignore
  - ./.editorconfig
  - ./.eslintignore
  - ./.prettierignore
  - ./.prettierrc
  - ./.huskyrc
  - ./tsconfig.json

config:
  - ./.eslintrc
  - ./jest.config.js
  - ./tsconfig.json

project:
  - ./package-lock.json
  - ./package.json
  - ./LICENSE

source:
- any: ['src/**/*', '!src/cli/*', '!src/__mocks__/*', '!src/__tests__/*']

api:
  - bin/**/*
  - src/cli/**/*

docs:
  - docs/**/*
  - ./LICENSE
  - ./*.md
  - ./.ghinfo

media:
  - media/**/*
