Repository keindev/ghinfo, changes with the labels that .github/labeler.yml gives for each.
All labels: test, workflow, config, project, source, api, docs, media

.github/labeler.yml:

test:
  - src/__mocks__/**/*.test.ts
  - src/__tests__/**/*.test.ts
  - ./.eslintrc
  - ./jest.config.js
  - ./.huskyrc

workflow:
  - .github/**/*
  - .vscode/**/*
  - ./.gitignore
  - ./.npmignore
  - ./.editorconfig
  - ./.eslintignore
  - ./.prettierignore
  - ./.prettierrc
  - ./.huskyrc
  - ./tsconfig.json

config:
  - ./.eslintrc
  - ./jest.config.js
  - ./tsconfig.json

project:
  - ./package-lock.json
  - ./package.json
  - ./LICENSE

source:
- any: ['src/**/*', '!src/cli/*', '!src/__mocks__/*', '!src/__tests__/*']

api:
  - bin/**/*
  - src/cli/**/*

docs:
  - docs/**/*
  - ./LICENSE
  - ./*.md
  - ./.ghinfo

media:
  - media/**/*

refactor: refactor generate command
  src/cli/bin.ts
  src/cli/commands/generate.ts
Labels: source, api

build: bump dependencies
  package-lock.json
  package.json
  src/Builder.ts
Labels: project, source

build: bump to v3.0.12
  .ghinfo
  CHANGELOG.md
  package.json
Labels: project, docs

build: bump dependencies
  package-lock.json
  package.json
Labels: project

build: bump to v3.0.13
  .ghinfo
  CHANGELOG.md
  package-lock.json
  package.json
Labels: project, docs

build: bump deps, refresh configs, bump engine.node
  .gitignore
  .npmignore
  package-lock.json
  package.json
Labels: workflow, project

build: update lock deps
  package-lock.json
Labels: project

build: bump to v4.0.0
  .ghinfo
  CHANGELOG.md
  package-lock.json
  package.json
Labels: project, docs

build: bump dependencies
  package-lock.json
  package.json
Labels: project
